body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.header h1{
	text-align: center;
	font-size: 3vw;
	margin:0;	
}
.header h6{
	text-align: center;
	font-size: 2vw;
	margin:0;	
}
.head {
  padding: 2px 10px;
  overflow: hidden;
  background-color: #333;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 103px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a.key {
	float: right;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
	.header h1 {
		font-size: 7vw;
	}
	.header h6 {
		font-size: 4vw;
	}
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}